* {
    margin: 0;
    padding: 0;
}
section {
    margin: 0 auto;
    margin-top: 30px;
    width: 96%;
    padding-bottom:50px;
}

section ul {
    width: 50%;
    margin: 0 auto;
    margin-top: 0px
}

section ul li {
    margin-bottom: 5%;
    
}

section li p {
    color: #191970;
    line-height: 150%;
    font-size:15px;
    margin-left: 5%;
}

section li:first-child p {
    color: red;
    float: center;
}

section li input {
    width: 90%;
    line-height: 150%;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    outline: none;
    text-indent:10px;
    height:32px;
    margin-left: 5%;
}

section li button{
	width: 90%;
  	line-height: 150%;
  	border: 1px solid #aaaaaa;
 	border-radius: 8px;
  	outline: none;
  	background: #d7472f;
  	color: #ffffff;
  	font-size: 150%;
  	padding: 8px 0;
}